# FOLDERS #
front-end/node_modules/
back-end/node_modules/
back-end/db/db_backups/restore_backups/
# FILES #
back-end/data/imgData/produtos/*
back-end/data/imgData/temp_produtos/*
back-end/db/backup_logs/*
back-end/data/local_credentials/*.json
back-end/db/db_backups/backups/*
# KEEP EMPTY FOLDERS #
!back-end/data/imgData/produtos/.gitkeep
!back-end/data/imgData/temp_produtos/.gitkeep
!back-end/db/backup_logs/.gitkeep
!back-end/db/db_backups/backups/.gitkeep
