//# Valores Padrões //
//.. Max Width //
//, Home //
$max-width-home: 1100px;
//, Inclusao //
$max-width-inclusao: 830px;
//, Lista //
$max-width-lista: 830px;
//, Geral DashBoard //
$max-width-geralDshB: 830px;